.container {
  padding: 2rem 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

.unreadCount {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 100;
  text-align: right;
}

.unreadCountNumber {
  font-weight: 300;
}

.entryContent {
  display: flex;
}

.entry {
  display: flex;
  word-break: break-word;
  margin-bottom: 2rem;
}

.entryText {
  flex-basis: 100%;
  padding: 1rem 2rem 1rem 0;
}

.entryImage {
  margin: 2rem;
}

.entryPreview {
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.7em;
  display: block;
}

@media (max-width: 700px) {
  .entryContent {
    flex-direction: column;
  }

  .entryImage {
    margin: 0 2rem 2rem 0;
  }
}

.entryCheckbox {
  width: 30px;
  height: 100%;
  margin: 0 2rem;
  flex-shrink: 0;
  outline: none;
}

.feedName {
  padding: 0.8rem 0;
  display: block;
}

.applyContainer {
  width: 100%;
  text-align: center;
}

.applyButton {
  margin: 2rem auto 4rem;
  font-size: 1.2rem;
}
