.container {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
}

.unreadCount {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 100;
  text-align: right;
}

.unreadCountNumber {
  font-weight: 300;
}

.entryContent {
  display: flex;
}

.entry {
  display: flex;
  outline: 1px solid black;
  word-break: break-word;
}

.entryText {
  flex-basis: 100%;
  padding: 1rem 2rem 1rem 0;
}

.entryImage {
  margin: 2rem;
}

@media (max-width: 700px) {
  .entryContent {
    flex-direction: column;
  }

  .entryImage {
    margin: 0 2rem 2rem 0;
  }
}

.entryCheckbox {
  width: 30px;
  height: 100%;
  margin: 0 2rem;
  flex-shrink: 0;
}

.applyContainer {
  width: 100%;
  text-align: center;
}

.applyButton {
  margin: 2rem auto 4rem;
  font-size: 1.2rem;
}
