.login {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 2rem auto;
    padding: 0 2rem;
}

.login * {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.login label {
    text-align: left;
    margin-bottom: 0.5rem;
}

.storeLocally {
    float: left;
    width: auto;
    margin-right: 1rem;
}

.login button {
    margin: 2rem 0;
}
